.layout .fixed.top-0 {
    width: 100%;
    z-index: 50;
  }
/* Define the custom dot cursor */
.cursor-dot {
  cursor: none; /* Hide the default cursor */
}

.cursor-dot::before {
  content: '';
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 255, 255); /* Color of the dot */
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999; /* Make sure it's on top of other elements */
  transform: translate(-50%, -50%);
  
}
