@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
    background-color: #000000;
}

p{
    color: #edf2f7;
}
h1{
    color: #edf2f7;
}
span{
    color: #edf2f7;
}
html, body {
    width:  100%;
    height: 100%;
  }
::-webkit-scrollbar {
    width: 2px;
    height: 14px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0000009d;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0e0f11;
    transition: 0.5 s;
  }